@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Junicode";
  src: url("/fonts/Junicode.ttf"), url("/fonts/Junicode-Bold.ttf"),
    url("/fonts/Junicode-BoldItalic.ttf"), url("/fonts/Italic.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Droid";
  src: url("/fonts/DroidSerif/DroidSerif-Regular.ttf"),
    url("/fonts/DroidSerif/DroidSerif-Bold.ttf"),
    url("/fonts/DroidSerif/DroidSerif-BoldItalic.ttf"),
    url("/fonts/DroidSerif/DroidSerif-Italic.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
